{
  "openapi": "3.0.1",
  "info": {
    "title": "Markix OpenAPI Specification",
    "description": "This is the OpenAPI specification for the Markix API. It is a RESTful API that allows users to interact with the Markix platform.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.markix.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/queries": {
      "get": {
        "description": "Returns a list of your queries. The queries are returned sorted by creation date, with the most recent query appearing first.",
        "responses": {
          "200": {
            "description": "Returns a list of queries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Query"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/queries/{id}": {
      "get": {
        "description": "Retrieves a query by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of query to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/queries/{id}/export": {
      "get": {
        "description": "Exports the results of a query execution as a CSV file.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of query to export",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],

        "responses": {
          "200": {
            "description": "Returns a CSV file with the results of the latest completed query execution.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/executions/{id}": {
      "get": {
        "description": "Retrieves a query execution by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of query execution to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a query execution.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryExecution"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Cancels a running query execution by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of query execution to cancel",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query execution deleted",
            "content": {}
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }

  },
  "components": {
    "schemas": {
      "QueryExecution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique identifier for the query execution"
          },
          "object": {
            "type": "string",
            "enum": [
              "query_execution"
            ],
            "description": "Object type identifier"
          },
          "status": {
            "type": "string",
            "description": "Current status of the execution"
          },
          "status_message": {
            "type": "string",
            "description": "Message describing the current status"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the execution started"
          },
          "scheduled": {
            "type": "boolean",
            "description": "Indicates if the execution was scheduled"
          },
          "diffed": {
            "type": "boolean",
            "description": "Indicates if the result was compared with another set of results"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the execution ended"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the execution was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the execution was last updated"
          },
          "result": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "Individual data points from the execution result"
                },
                "description": "Data generated from the execution"
              },
              "total": {
                "type": "integer",
                "description": "Total count of data points in the result"
              }
            },
            "description": "Result of the query execution if available"
          }
        }
      },
      "Query": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique identifier for the query"
          },
          "name": {
            "type": "string",
            "description": "Name of the query"
          },
          "user_id": {
            "type": "integer",
            "description": "Identifier of the user who owns the query"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the query"
          },
          "query": {
            "type": "string",
            "description": "SQL or other query string"
          },
          "executions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryExecution"
            },
            "description": "List of executions associated with the query, loaded conditionally"
          },
          "diffable": {
            "type": "boolean",
            "description": "Indicates whether the query results are suitable for diff operations"
          },
          "schedule": {
            "type": "string",
            "description": "Schedule on which the query is run, if applicable"
          },
          "public": {
            "type": "boolean",
            "description": "Indicates if the query is public"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the query was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the query was last updated"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}